<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <style>
    .header {
    background-color: #ff69b4;
    color: white;
    padding: 70px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    }

    </style>
    <header>
    <div class="header">
        <p>Share-Dessert!</p>
    <img src="assets/img/Dessertmain.png" />
        <p>
            "여러분, 디저트 공유 게시판에 환영합니다! 우리의 프로젝트는 디저트를 사랑하는 모두를 위한 공간을 마련하였습니다.
            여기에서는 당신의 최애 디저트 레시피를 공유하거나, 간직하고 있는 특별한 디저트 추억을 나눌 수 있습니다. 각자의 선호와 경험을 나누면서, 디저트에 대한 열정을 함께 나누어보세요. 우리의 목표는 맛있는 디저트뿐만 아니라,
            디저트를 통해 새로운 친구와 연결되는 기회를 제공하는 것입니다. 모두가 행복해지는 디저트 공유 게시판에서 함께 하세요!"</p>
        </div>
</header>
</html>
